<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tum firse bhool gye 😢</title>
  <link rel="stylesheet" href="auth-styles.css">
</head>
<body>
  <div class="auth-container">
    <div class="auth-hero">
      <h1>Kyaa!! tum fir bhool gye 😢</h1>
      <p>Reset kro ab idhr kya padh rhe ho😂</p>
    </div>

    <div class="auth-form-container">
      <div class="form-toggle">
        <!-- <button id="login-btn" class="active">Login</button>
        <button id="signup-btn">Signup</button> -->
      </div>

      <div class="form-container">
        <form id="login-form" class="auth-form active" method="post" action="/bhool-gye-kyaa">
          <div class="form-group">
            <label for="login-email">Email</label>
            <input type="email" name="email" id="login-email" placeholder="Enter your email" required>
          </div>
          <div class="form-group">
            <label for="login-password">New Password</label>
            <input type="password" name="password" placeholder="Enter your new password" required>
          </div>
          <button type="submit" class="submit-btn">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <script src="auth-scripts.js"></script>
</body>
</html>
