<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="auth-styles.css">
</head>
<body>
  <div class="auth-container">
    <div class="auth-hero">
      <h1><%= leftHeading %></h1>
      <p><%= leftMessage %></p>
    </div>

    <div class="auth-form-container">
      <div class="form-toggle">
      </div>

      <div class="form-container">
         <h1><%= message %></h1>
        <h1>You will be redirected in <span id="countdown">5</span> seconds...</h1>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    let countdown = 5;
    const countdownElement = document.getElementById('countdown');

    const interval = setInterval(() => {
      countdown--;
      countdownElement.textContent = countdown;
      if (countdown <= 0) {
        clearInterval(interval); // Stop the countdown
        window.location.href = '/'; // Redirect to the target URL
      }
    }, 1000); // Decrease every second
  </script>
  <script src="auth-scripts.js"></script>
</body>
</html>
